body {
    color: rgb(0, 16, 20);
    background: rgb(212, 184, 161);
    font-family: 'Ubuntu', Ubuntu;
}

.form {
    color: rgb(1, 53, 73);
    width: 200px;
    display: inline-block;
}
select {
    height: 30px;
    width: 200px;
}
.menu{
    position: absolute;
    top: 20%;
    left: 30%;
    cursor: pointer;
}
.reggie{
    display: none;
    
    border-radius: 10px;
    left: 80%;
    top: 20%;
}
.makeslctn{
    display: none;
}
.checkslctn{
    display: none;
}
